Flask==3.0.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.30
Werkzeug==3.0.3
Jinja2==3.1.6
itsdangerous==2.2.0
click==8.2.1
blinker==1.9.0

python-dotenv==1.0.1

numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
openpyxl==3.1.5

google-generativeai==0.8.3

gunicorn==23.0.0
